---
// Frontmatter script space, where you can import components and define page-level data
---
<html>
<head>
    <title>Trillium</title>
</head>
<body>
    <h1>Trillium</h1>
    <p>This is the Monolith MMI Trillium.</p>
</body>
</html>
